body{
    background-color: cornflowerblue;
}

#GridContainer{
    display: grid;
    grid-template-areas:
     'header header header'
     'left main right'
     'left main right'
     'Down Down Down'

}

#item1 {
    grid-area: header;    height: 100px;
    width: 1130px;
    padding: 20px;
    margin: 20px;
    background-color: rgb(100, 40, 0);

}
#item2 {
    grid-area: left;
    height: 400px;
    width: 200px;
    padding: 20px;
    margin: 20px;
    background-color: darkgreen;

}
#item3 {
    grid-area: main;
    height: 300px;
    width: 400px;
    padding: 20px;
    margin: 20px;
    background-color: rgb(0, 60, 100);

}

#item4 {
    grid-area: right;
    height: 400px;
    width: 200px;
    padding: 20px;
    margin: 20px;
    background-color: darkgreen;

}
#item5 {
    grid-area: Down;
    height: 100px;
    width: 1130px;
    padding: 20px;
    margin: 20px;
    background-color: rgb(100, 0, 0);

}
div {
    border: darkslategray solid ;
}


@media screen and (max-width: 700px) {
    body {
      background-color: olive;
    }
  }